
@media (min-width: 2560px) {
    .bg-player__img {
        top: -77px !important;
        left: -189px !important;
        width: 975px !important;
        height: 1209px !important;
        background: url(../img/main/volleyball-player-xl.png) no-repeat !important; 
    }
    .wrapper .navbar .navbar-wrapper {
        max-width: 100%;
        margin: 0px 162px 0px 262px;
    }
    .wrapper .navbar .navbar-wrapper .navbar-contacts {
        right: 0px !important;
    }
    .wrapper .main .content .sponsors {
        width: 343px !important;
        height: 22vmax !important;
    }
}
@media (min-width: 1801px) and (max-width: 2599px) {
    .bg-player__img {
        top: -57px;
        left: -138px;
        width: 999px !important;
        height: 1233px !important;
        background: url(../img/main/volleyball-player.png) no-repeat !important;
    }
    p {
        font-size: 14px !important;
        line-height: 16px !important;
    }
    .col-1 {
        max-width: calc(25% - 20px) !important;
        margin-right: 20px !important;
    }
    .col-2 {
        max-width: calc(50% - 20px) !important;
        margin-right: 20px !important;
    }
    .card .card-body .card-list .card-item .card-message p {
        font-size: 10px !important;
        line-height: 11px !important;
    }
    .card .card-content .card-content__item {
        height: 33.33% !important;
    }
    .card .card-body .card-list .card-item {
        max-height: unset;
        height: 42px;
    }
    .wrapper .main .content .content-data .row {
        height: 272px !important;
        margin-bottom: 20px !important;
    }
    .wrapper .main {
        padding-right: 0px !important;
    }
    .wrapper .main .content {
        width: auto !important;
        max-width: 1595px;
        margin: 0px 162px 0px 262px;
    }
    .wrapper .navbar .navbar-wrapper .navbar-contacts {
        right: 163px !important;
    }
    .card .card-content .card-content__item .card-data .card-team .card-city {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .wrapper .navbar .navbar-wrapper {
        max-width: 100% !important;
        margin: 0px 162px 0px 262px !important;
    }

    .wrapper .navbar .navbar-wrapper .navbar-contacts {
        right: 0px !important;
    }
    .wrapper .main .content .sponsors {
        min-width: 282px;
        height: 564px !important;
    }
}
@media (min-width: 768px) and (max-width: 1800.98px) {
    body {
        max-height: 100vh;
    }
    .navbar {
        padding-top: 0px !important;
        .navbar-wrapper {
            min-height: 88px !important;
            padding-top: 10px !important;
            justify-content: flex-end !important;
            .navbar-logo {
                img:first-child {
                    width: 75px !important;
                }
                p {
                    margin-top: -5px;
                    font-size: 14px !important;
                    line-height: 16px !important;
                }
            }
            .navbar-contacts {
                position: relative !important;
                flex-direction: row !important;
                width: auto !important;
                right: 87px !important;
                top: 20px !important;
                .navbar-social {
                    width: auto !important;
                    margin-right: 27px;
                    margin-bottom: 0px !important;
                    a {
                        margin-right: 15.5px;
                        img {
                            width: 24px;
                        }
                    }
                    a:last-child {
                        margin-right: 0px;
                    }
                }
                .navbar-address {
                    p {
                        width: 137px;
                        font-size: 12px;
                        line-height: 14px;
                    }
                    img {
                        width: 23px;
                    }
                }
            }
        }
        .bg-player__img {
            top: -20px !important;
            left: -195px !important;
            width: 679px !important;
            height: 842px !important;
            background: url(../img/main/volleyball-player-md.png) no-repeat !important;
        }
    }
    .row {
        margin-bottom: 10px !important;
    }
    .col-1 {
        max-width: calc(33.33% - 10px) !important;
        margin-right: 10px !important;
    }
    .col-2 {
        max-width: calc(66.66% - 10px) !important;
        margin-right:  10px !important;
    }
}
@media (max-width: 767.98px) {
    .bg-player__img {
        display: none;
    }
    .empty {
        display: none;
    }
    .wrapper .main .content .content-data .rhow .col {
        width: calc(50% - 20px);
    }
    .wrapper .main .content .content-data .row{
        height: 302px !important;
    }
}
